/*CSS to Hide Virtual Browse and Virtual Browse Button/link on Full Display */
#virtualBrowse {display:none;}
button[aria-label="Virtual Browse"]{display:none;}

#prm-collection-gallery-header .collection-header-inner {
    background-color: #333;
	color: #333
}
#collection-header-inner has-transparent-topbar layout-column{
	background-color: #333;
	color: #333
}

/**** LOD Author Card ****/
.lod-author-card {
  background-color: #f3f3f3;
  margin-top:2.5em;
}

md-progress-circular svg path {
  stroke: black;
}

div.lod-author-card .section-body {
  margin-top: 10px;
}

div.lod-author-card-abstract {
  font-size: small;
  font-weight: 300;
  text-align: justify;
  padding: 0 20px 15px 0;
}
/**** End LOD Author Card ****/